html {
  height: 100%;
  width: 100%;
  margin:0px;
  scroll-behavior:smooth;
}
body{
  margin:45px;
  margin-top:0px;
}

               /* Contact us Form */
.container {
  border-radius: 0px 10px 0px 10px; 
  background-color: #f2f2f2;
  padding: 20px;
  width: 55%;
  margin: 20px auto;
  box-shadow: 1px 2px 1px black;
}

label{
  font-size: 20px;
  width:200px;
  margin:0px auto;
  color:#0c7b97;
}

input, select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #acacb4; 
  border-radius: 0px 10px 0px 10px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #0aa6cd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #14617b;
}

               /* End of Contact us form*/

               /* Header*/
header{
  background-color:lightblue;
  border-radius: 0px 0px 20px 20px; 
  font-size: 25px;
  margin:0px;
  text-align:center;
  border-right: 5px solid #14617b;
  border-left: 5px solid #14617b;
  color:white;
  text-shadow:2px 2px 1px black;
  background-image:url("../Image/2.jpg");
  background-size:cover;
}

h1{
  margin:10px;
}
h3{
  margin:0px;
}
               /* End of Header*/

               /* Navigation bar */
#nav{
  background-color: lightblue; 
  border-radius: 20px; 
  font-size: 30px;
  margin:0px;
  border-right: 15px solid #14617b;
  border-left: 15px solid #14617b;
}

#nav ul{
  list-style:none;
  display:flex; 
  padding:0px;
  margin-top:5px;
  justify-content: center;
}

#nav ul a li {  
  padding-right:50px;
  padding-left:50px;
  display:block;
}

#nav ul a li:hover{
  background-color:#00b3ff;
  color:white;
  text-shadow: 1px 1px 1px black;
  cursor:pointer;
}


#nav ul a:link,#nav ul a:active,#nav ul a:focus{
  color: #14617b;
  text-decoration:none;
  display:inline-block;
}
               /* End of Navigation */

               /* Footer*/
footer{
  width:1000px;
  height: 25px;
  margin: 0px auto;
  font-size: 20px;
  color: #14617b;
  padding-top:10px;
  background-color:lightblue;
  text-align:center;
  border-radius:20px; 
  border-right: 5px solid #14617b;
  border-left: 5px solid #14617b;
}
               /* End of Footer */

/*
SQL querries.

Create Database accounts;
use accounts;
Create Table users(
user_id int Primary Key auto_increment,
first_name varchar(30) NOT NULL,
last_name varchar(30) NOT NULL,
email varchar(50) NOT NULL UNIQUE,
password varchar(12) NOT NULL
)
*/